@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: unset;
    transition: all 0.5s;
    font-weight: bold;
    font-family: monospace;
}

body {
    background: url("../images/arabesque.png");
    background-color: #FAE8EB;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

label:hover {
    padding-left: 1em;
}

#dialog {
    border: 1px solid rgba(0, 0, 0, 0.22);
    background-color: #F6CACA;
    border-radius: 4px;
    padding: 1em;
    position: relative;

    width: 95%;
    max-width: 32em;
}